<div class="table-responsive">          
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date & Time</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let changeLog of changeLogs">
                <td>{{ changeLog.identity }}</td>
                <td>{{ changeLog.title }}</td>
                <td>{{ changeLog.content }}</td>
                <td>{{ changeLog.timeStamp }}</td>
                <td>{{ changeLog.type }}</td>
            </tr>
        </tbody>
    </table>
</div>